main.events {
  flex-direction: column;
  font-size: 1.4rem;
  height: auto;
  justify-content: flex-start;
  padding-top: var(--spacing-large);

  h1 {
    font-size: 3.6rem;
    font-style: italic;
    margin-bottom: var(--spacing-large);
  }

  section {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: calc(50% - var(--spacing-tiny)) calc(50% - var(--spacing-tiny));
    justify-items: center;
    margin-bottom: var(--spacing-large);
    padding: 0 8%;
    padding-right: calc(8% + var(--default-scroll-size));
    width: 100%;

    /* Only one child element */
    &:has(> :last-child:nth-child(1)) {
      grid-template-columns: 1fr;
      max-width: 80%;
    }
    /* Two child elements */
    &:has(> :last-child:nth-child(2)) {
      grid-template-columns: 1fr 1fr;
      max-width: 100%;
    }

    div {
      background-color: var(--color-bg-a5);
      border-radius: .5rem;
      color: var(--color-txt);
      cursor: pointer;
      padding: var(--spacing);
      position: relative;
      text-align: center;
      width: 100%;

      transition: transform var(--transition), box-shadow var(--transition);

      &:active,
      &:focus,
      &:hover {
        box-shadow: 0 0 .5rem rgba(255, 255, 255, .3);
        transform: scale(1.01);
      }

      img {
        width: 100%;
      }
    }
  }
}
