section.track-playback {
  height: 45%;
  position: relative;
  width: 100%;

  .blurred-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(.5rem);
    left: -7.5%;
    height: 115%; /* So it overlaps under link section */
    position: absolute;
    top: -7.5%;
    width: 115%;
    z-index: 50;
  }

  .featured-track-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 75;

    .previous-release,
    .next-release {
      align-items: center;
      cursor: pointer;
      display: flex;
      font-size: 4.6rem;
      position: absolute;
      height: 115%;
      top: -7.5%;
      user-select: none;
      width: 7rem;
    }

    .previous-release {
      justify-content: flex-end;
      left: 0;
      padding-right: 3rem;
      transition: box-shadow .3s ease-out;

      &:active,
      &:focus,
      &:hover {
        box-shadow: inset 5.5rem 0 2rem var(--color-bg-a5);
      }
    }

    .next-release {
      justify-content: flex-start;
      padding-left: 3rem;
      right: 0;
      transition: box-shadow .3s ease-out;

      &:active,
      &:focus,
      &:hover {
        box-shadow: inset -5.5rem 0 2rem var(--color-bg-a5);
      }
    }

    .featured-track-container {
      background-color: var(--color-bg-a5);
      border-radius: .5rem;
      color: var(--color-txt);
      height: 80%;
      padding: 1.5rem 1.5rem 0;
      position: relative;

      img {
        height: calc(100% - 5rem);
        transition: transform var(--transition);
      }

      .player {
        align-items: center;
        display: flex;
        height: 5rem;
        width: 100%;

        img {
          cursor: pointer;
          height: 2.5rem;
          padding: 0;
          transition: filter .3s;

          &:active,
          &:focus,
          &:hover {
            filter: invert(18%) sepia(24%) saturate(6016%) hue-rotate(337deg) brightness(120%) contrast(104%);
          }
        }

        @media (prefers-color-scheme: light) {
          img {
            filter: brightness(0) saturate(100%) invert(0%) sepia(5%) saturate(3753%) hue-rotate(22deg) brightness(94%) contrast(88%);
          }
        }
        @media (prefers-color-scheme: dark) {
          img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(43%) saturate(22%) hue-rotate(272deg) brightness(111%) contrast(92%);
          }
        }

        .progress-bar {
          background: var(--color-txt);
          border-radius: 1rem;
          cursor: pointer;
          height: .5rem;
          margin: 0 1rem;
          user-select: none;
          width: 100%;

          &:active,
          &:focus,
          &:hover {
            .current-progress {
              background: var(--color-main);
            }
          }

          .current-progress {
            background: var(--color-bg-alt);
            border-radius: 1rem;
            height: 100%;
            width: 0;
            transition: all var(--transition) ease-out;
          }
        }

        p {
          font-size: 1.6rem;
        }
      }

      &:active,
      &:focus,
      &:hover {
        border-end-end-radius: 0;
        border-start-end-radius: 0;

        img {
          transform: scale(1.01);
        }

        .release-tracklist {
          opacity: 1;
        }
      }

      .release-tracklist {
        background: var(--color-bg-a5);
        border-end-end-radius: .5rem;
        border-start-end-radius: .5rem;
        height: 100%;
        left: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 110%;

        transition: opacity var(--transition);

        h3 {
          font-size: 1.1rem;

          &:first-child {
            margin-top: 1.5rem;
          }
        }

        p {
          font-size: 1.1rem;
          margin-bottom: 1.5rem;
          padding-left: var(--spacing);
        }
      }
    }
  }
}

section.track-links {
  background: linear-gradient(135deg, var(--gradientStart) 0%, var(--gradientEnd) 100%);
  color: var(--color-txt);
  height: 45%;
  position: relative;
  z-index: 100;

  .track-link-bg-overlay {
    align-items: center;
    background-color: var(--color-bg-a1);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    padding-bottom: var(--spacing);
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }

  .release-pager {
    display: flex;
    font-size: 2.8rem;
    justify-content: center;
    margin-bottom: auto;
    user-select: none;

    a {
      text-decoration: none;
      color: var(--color-txt-a5);
      cursor: pointer;
      font-size: inherit;
      margin: 0 .5rem;
      user-select: none;
      transition: color var(--transition);

      &.selected {
        color: var(--color-txt);
      }
    }
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.2rem;
    font-style: italic;
    margin-bottom: var(--spacing-small);
  }

  p {
    font-size: 1.6rem;
    margin-bottom: var(--spacing-small);

    span {
      cursor: pointer;
      font-size: 1.1rem;
      font-style: italic;
      padding-left: .5rem;
      transition: color var(--transition);

      &:active,
      &:focus,
      &:hover {
        color: var(--color-main);
      }
    }
  }

  .listen-online {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: auto;
    max-width: 45rem;

    a {
      align-items: center;
      background: var(--color-bg);
      border: solid 1px var(--color-txt);
      border-radius: 2rem;
      color: var(--color-txt);
      display: flex;
      justify-content: space-evenly;
      margin: .7rem;
      padding: .6rem 2rem;
      text-decoration: none;
      text-align: center;
      user-select: none;

      transition: all var(--transition);

      @media (prefers-color-scheme: dark) {
        img {
          filter: invert(1);
        }
      }

      &:active,
      &:focus,
      &:hover {
        filter: invert(1);
      }

      img {
        height: 2rem;
        margin-right: var(--spacing-small);
      }

      p {
        font-size: 1.4rem;
        margin: 0;
      }

      &.disabled {
        filter: grayscale(100%) brightness(40%) contrast(0.8);
        pointer-events: none;
      }
    }
  }
}

section.credits {
  position: relative;
  height: 10%;

  .blurred-background {
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    filter: blur(.5rem);
    left: -7.5%;
    height: 115%;
    position: absolute;
    top: -7.5%;
    width: 115%;
    z-index: 50;
  }

  .credit-container {
    align-items: center;
    background: var(--color-bg-a1);
    color: var(--color-txt);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    justify-content: center;
    text-align: center;
    z-index: 75;

    p {
      font-size: 1.3rem;
    }

    span {
      text-transform: capitalize;
    }

    a {
      color: var(--color-txt);
      text-decoration: none;
      transition: color var(--transition);

      &:active,
      &:focus,
      &:hover {
        color: var(--color-main);
      }
    }
  }
}

.modal-seemore {
  text-align: center;

  a {
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    color: black;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 3rem 1fr;
    justify-content: center;
    margin: .7rem 0;
    padding: .6rem 1rem;
    text-decoration: none;
    width: 100%;
    transition: all var(--transition);

    &:active,
    &:focus,
    &:hover {
      filter: invert(1);
    }

    &.disabled {
      filter: grayscale(100%) brightness(40%) contrast(0.8);
      pointer-events: none;
      user-select: none;
    }

    img {
      height: 2rem;
    }

    p {
      font-size: 1.3rem;
      padding-right: .5rem;
    }
  }

  button {
    margin-top: 1.3rem;
  }
}
