main.homepage {
  flex-direction: column;
  font-size: 1.4rem;
  height: auto;
  justify-content: flex-start;

  nav {
    background: linear-gradient(135deg, var(--gradientStart) 0%, var(--gradientEnd) 100%);
    margin-bottom: var(--spacing-large);
    width: 100%;

    .nav-content {
      background-color: var(--color-bg-a1);
      padding: var(--spacing-large) 10%;
      padding-right: calc(10% + var(--default-scroll-size));
      text-align: center;
    }

    .band-picture {
      border-radius: .5rem;
      max-height: 50rem;
      max-width: 100%;
      margin-bottom: var(--spacing);
    }

    h1 {
      font-size: 5.2rem;
      margin-bottom: var(--spacing);
    }

    h2 {
      font-size: 2.2rem;
      margin-bottom: var(--spacing);
    }

    .links {
      display: flex;
      justify-content: center;

      a {
        align-items: center;
        border: solid .2rem var(--color-main);
        border-radius: .5rem;
        display: flex;
        margin: 0 var(--spacing-small);
        padding: var(--spacing-small) var(--spacing);
        text-decoration: none;
        transition: background-color var(--transition);

        &:active,
        &:focus,
        &:hover {
          background-color: var(--color-bg-a5);
        }

        img {
          height: 1.5rem;
          margin-right: 1.5rem;
          filter: var(--imageFilter);
        }
      }
    }
  }

  h3 {
    font-size: 3.6rem;
    font-style: italic;
    margin-bottom: var(--spacing-large);
  }

  section {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: calc(33% - .5rem) calc(33% - .5rem) calc(33% - .5rem);
    justify-items: center;
    margin-bottom: var(--spacing-large);
    padding: 0 8%;
    padding-right: calc(8% + var(--default-scroll-size));
    width: 100%;
    /* Only one child element */
    &:has(> :last-child:nth-child(1)) {
      grid-template-columns: 1fr;
      max-width: 50%;
    }
    /* Two child elements */
    &:has(> :last-child:nth-child(2)) {
      grid-template-columns: 1fr 1fr;
      max-width: 75%;
    }

    div {
      aspect-ratio: 1 / 1;
      display: flex;
      cursor: pointer;
      position: relative;

      transition: transform var(--transition), box-shadow var(--transition);

      &:active,
      &:focus,
      &:hover {
        box-shadow: 0 0 .5rem rgba(255, 255, 255, .3);
        transform: scale(1.01);
      }

      &.past-members {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;

        p {
          background: none;
          opacity: 1;
          position: inherit;
          user-select: none;
        }

        &:active,
        &:focus,
        &:hover {
          box-shadow: none;
        }
      }
    }

    img {
      border-radius: .5rem;
      height: 100%;
      width: 100%;

      &:active + p,
      &:focus + p,
      &:hover + p {
        opacity: 1;
        pointer-events: none;
      }
    }

    p {
      align-items: center;
      background: linear-gradient(transparent 0%, var(--color-bg-a5) 33%, var(--color-bg));
      border-radius: .5rem;
      bottom: 0;
      display: flex;
      flex-direction: column;
      font-size: 2.6rem;
      font-weight: bold;
      height: 100%;
      justify-content: center;
      line-height: 2.6rem;
      opacity: 0;
      padding: 0 1rem;
      position: absolute;
      text-align: center;
      width: 100%;

      transition: opacity var(--transition);

      &:active,
      &:focus,
      &:hover {
        opacity: 1;
        pointer-events: none;
      }
    }

    span {
      display: block;
      font-size: 1.1rem;
      line-height: 1.4rem;
      text-transform: capitalize;

      &.learn-more {
        font-style: italic;
        text-transform: inherit;
      }

      &:first-of-type {
        margin-top: var(--spacing-tiny);
      }
    }

    &.events {
      div {
        aspect-ratio: inherit;

        p {
          justify-content: flex-end;
          opacity: 1;
          padding-bottom: 1rem;
          pointer-events: none;
        }
      }
    }
  }

  figure {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: calc(33% - .5rem) calc(33% - .5rem) calc(33% - .5rem);
    justify-items: center;
    margin-bottom: var(--spacing-large);
    padding: 0 8%;
    padding-right: calc(8% + var(--default-scroll-size));
    width: 100%;

    iframe {
      aspect-ratio: 16 / 9;
      border-radius: .5rem;
      grid-column: span 3;
      height: 100%;
      width: 100%;
    }

    img {
      border-radius: .5rem;
      max-width: 100%;
    }
  }

  footer {
    background: linear-gradient(135deg, var(--gradientStart) 0%, var(--gradientEnd) 100%);
    width: 100%;

    .footer-content {
      background-color: var(--color-bg-a1);
      padding: var(--spacing-large) 0;
      text-align: center;
    }

    a {
      color: var(--color-txt);
      margin-bottom: 0;
      text-decoration: none;
      transition: color var(--transition);

      &:active,
      &:focus,
      &:hover {
        color: var(--color-main);
      }
    }
  }
}

.modal-artist,
.past-members-modal {
  font-size: 1.3rem;
  max-height: 95%;
  overflow-y: auto;
  text-align: center;

  h1 {
    font-size: 3.2rem;
    margin-bottom: var(--spacing);
  }

  h3 {
    margin-bottom: var(--spacing);
  }
}

.modal-artist {
  max-width: 720px;

  img {
    margin-bottom: 1.3rem;    
    max-width: 20rem;
  }

  p {
    text-indent: 1.3rem;
    margin-bottom: 1.3rem;
    text-align: justify;
  }
}

.past-members-modal {
  max-width: 840px;
  padding: 3rem 0 !important; /* Override parent settings */

  .past-members-container {
    height: 100%;
    max-height: calc(100% - 11rem);
    width: calc(100% - var(--default-scroll-size));

    .scrollbar-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .past-member {
      display: grid;
      grid-template-columns: 25rem 1fr;
      margin: 0 3rem;
      margin-bottom: 1.3rem;
  
      img {
        margin-bottom: .6rem;
        padding: 1rem;
        width: 100%;
      }
  
      .past-member-infos {
        margin-left: 1.3rem;
        text-align: left;
  
        span {
          margin-bottom: .6rem;
          margin-left: 1.3rem;
        }
  
        h3, i {
          display: inline-block;
        }
  
        p {
          text-align: justify;
          text-indent: 1rem;
        }
      }
    }
  }

  button {
    margin-top: 1.3rem;
  }
}
