main.bio {
  flex-direction: column;
  font-size: 1.4rem;
  justify-content: flex-start;

  img, h2 {
    margin: 0 auto;
  }

  img.band-logo {
    margin-bottom: var(--mg);
    width: 20rem;
  }

  h3 {
    font-size: 3.6rem;
    margin-bottom: var(--mg-lg);
  }

  nav {
    background: linear-gradient(135deg, var(--gradientStart) 0%, var(--gradientEnd) 100%);
    margin-bottom: var(--mg-lg);
    padding: var(--mg-lg) 0;
    text-align: center;
    width: 100%;

    img, h1, h2 {
      margin: 0 auto;
      max-width: 80%;
    }

    h1 {
      font-size: 5.2rem;
      margin-bottom: var(--mg);
    }

    h2 {
      font-size: 2.4rem;
      margin-bottom: var(--mg);
    }

    .band-picture {
      height: 50rem;
      margin-bottom: var(--mg);
      transition: transform .2s;

      &:active,
      &:focus,
      &:hover {
        transform: rotate(.6deg);
      }
    }

    .links {
      display: flex;
      justify-content: center;

      a {
        align-items: center;
        border: solid .2rem var(--mainColor);
        border-radius: .5rem;
        display: flex;
        margin: 0 1rem;
        padding: 1rem 2rem;
        text-decoration: none;
        transition: background-color var(--transition);

        &:active,
        &:focus,
        &:hover {
          background-color: rgba(24, 24, 24, .5);

          img {
            transform: scale(1.1);
          }
        }

        img {
          height: 1.5rem;
          margin-right: 1.5rem;
          filter: var(--imageFilter);
          transition: transform var(--transition);
        }
      }
    }
  }

  section {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: calc(33% - .5rem) calc(33% - .5rem) calc(33% - .5rem);
    justify-items: center;
    margin-bottom: var(--mg-lg);
    max-width: 60%;

    div {
      aspect-ratio: 1 / 1;
      display: flex;
      cursor: pointer;
      position: relative;
      transition: transform var(--transition), box-shadow var(--transition);

      &:active,
      &:focus,
      &:hover {
        box-shadow: 0 0 .5rem rgba(255, 255, 255, .3);
        transform: scale(1.02);
      }

      &.past-members {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;

        p {
          background: none;
          opacity: 1;
          position: inherit;
          user-select: none;
        }

        &:active,
        &:focus,
        &:hover {
          box-shadow: none;
        }
      }
    }

    img {
      height: 100%;
      width: 100%;

      &:active + p,
      &:focus + p,
      &:hover + p {
        opacity: 1;
        pointer-events: none;
      }
    }

    p {
      align-items: center;
      background: linear-gradient(transparent 10%, rgba(0, 0, 0, .5) 33%, rgba(0, 0, 0, 1));
      bottom: 0;
      display: flex;
      flex-direction: column;
      font-size: 2.6rem;
      font-weight: bold;
      height: 33%;
      justify-content: center;
      opacity: 0;
      padding: 0 1rem;
      position: absolute;
      text-align: center;
      width: 100%;
      transition: opacity var(--transition);

      &:active,
      &:focus,
      &:hover {
        opacity: 1;
        pointer-events: none;
      }
    }

    span {
      display: block;
      font-size: 1.1rem;
      margin-top: 1rem;

      &.learn-more {
        font-style: italic;
      }
    }
  }

  figure {
    margin-bottom: var(--mg-lg);
    max-width: 60%;
    width: 100%;

    iframe {
      aspect-ratio: 16 / 9;
      height: 100%;
      width: 100%;
    }
  }

  footer {
    background: linear-gradient(135deg, var(--gradientStart) 0%, var(--gradientEnd) 100%);
    padding: var(--mg-lg) 0;
    text-align: center;
    width: 100%;

    a {
      color: white;
      margin-bottom: 0;
      text-decoration: none;
      transition: color var(--transition);

      &:active,
      &:focus,
      &:hover {
        color: var(--mainColor);
      }
    }
  }
}

.modal-artist,
.past-members-modal {
  font-size: 1.3rem;
  max-height: 95%;
  overflow-y: auto;
  text-align: center;

  h1 {
    font-size: 3.2rem;
    margin-bottom: 1.3rem;
  }

  h3 {
    margin-bottom: 1.3rem;
  }
}

.modal-artist {
  max-width: 720px;

  img {
    margin-bottom: 1.3rem;    
    max-width: 20rem;
  }

  p {
    text-indent: 1.3rem;
    margin-bottom: 1.3rem;
    text-align: justify;
  }
}

.past-members-modal {
  height: 100%;
  max-width: 840px;
  padding: 3rem 0 !important; /* Override parent settings */

  .past-members-container {
    height: 100%;
    max-height: calc(100% - 11rem);

    .scrollbar-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .past-member {
      display: grid;
      grid-template-columns: 25rem 1fr;
      margin: 0 3rem;
      margin-bottom: 1.3rem;
  
      img {
        margin-bottom: .6rem;
        padding: 1rem;
        width: 100%;
      }
  
      .past-member-infos {
        margin-left: 1.3rem;
        text-align: left;
  
        span {
          margin-bottom: .6rem;
          margin-left: 1.3rem;
        }
  
        h3, i {
          display: inline-block;
        }
  
        p {
          text-align: justify;
          text-indent: 1rem;
        }
      }
    }
  }

  button {
    margin-top: 1.3rem;
  }
}