@media (max-width: 1000px) {
  select {
    top: var(--spacing-small);
  }

  main.creation {
    .subpage-nav {
      bottom: inherit;
      flex-direction: inherit;
      height: 2rem;
      margin: 1rem 0;
      top: 6rem;
      width: 100%;

      img {
        height: 100%;
        padding: 0 1rem;
        width: unset;
      }
    }

    .music {
      padding: 0 3rem 0 1rem;

      .band {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;

        .band-image {
          display: none;
        }

        .band-releases {
          padding: 2rem 1rem;
          position: inherit;
          width: 100%;

          .band-header {
            h2 {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          .band-albums {
            .album {
              height: calc(95% - 3rem);
            }
          }
        }
      }
    }

    .video {
      padding: 0 3rem 0 1rem;

      .video-grid .embed-video h2 {
        font-size: 1.4rem;
      }
    }

    .photo {
      padding: 0 3rem 0 1rem;
    }
  }

  main.contact {
    section {
      display: inherit;
      padding: 3rem 5%;
    }
  }

  .modal.credit {
    padding: 1rem;
    max-width: inherit;
    width: 95%;
  }

  body.links {
    main {
      .link-wrapper {
        padding: 2rem;
        max-height: 95%;
        width: 95%;

        img.main-logo {
          height: 6rem;
        }

        .link {
          img {
            margin: 0 1rem;
          }

          P {
            font-size: 1.2rem;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 870px) {
  section.track-playback {
    .featured-track-wrapper {
      .featured-track-container {
        .release-tracklist {
          display: none;
        }
      }
    }
  }

  main.bio nav {
    .nav-content {
      padding: var(--spacing-large) var(--spacing-large);
      padding-right: calc(var(--spacing-large) + var(--default-scroll-size));

      .band-picture {
        height: auto;
        width: 100%;
      }
    }
  }

  main.bio section,
  main.bio figure {
    padding: 0 var(--spacing-large);
    padding-right: calc(var(--spacing-large) + var(--default-scroll-size));
  }

  .modal.modal-artist,
  .modal.past-members-modal {
    max-width: inherit;
    width: calc(100% - var(--spacing));
  }
}

@media (max-width: 512px) {
  .home {
    left: var(--spacing-small);
    top: var(--spacing-small);
  }

  main.bio {
    nav {
      .nav-content {
        padding: var(--spacing-large) var(--spacing);
        padding-right: calc(var(--spacing) + var(--default-scroll-size));

        h1 {
          font-size: 4.4rem;
        }

        h2 {
          font-size: 1.8rem;
        }

        .links {
          align-items: center;
          flex-direction: column;
      
          a {
            margin: 1rem 0;
            justify-content: center;
            width: 85%;
            
            img {
              margin-left: 0;
            }

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    section {
      grid-template-columns: 100%;
      padding: 0 var(--spacing);
      padding-right: calc(var(--spacing) + var(--default-scroll-size));

      div.past-members {
        aspect-ratio: inherit;
        margin-top: var(--spacing);
      }
    }

    figure {
      grid-template-columns: 100%;
      padding: 0 var(--spacing);
      padding-right: calc(var(--spacing) + var(--default-scroll-size));

      iframe {
        grid-column: 1;
      }
    }
  }

  .modal.modal-artist,
  .modal.past-members-modal {
    max-height: calc(100% - var(--spacing));
  }

  .modal.past-members-modal {
    .past-member {
      grid-template-columns: 1fr;
    }
  }

  section.track-playback {
    .featured-track-wrapper {
      .previous-release,
      .next-release {
        display: none;
      }
    }
  }

  main.tree {
    .content {
      padding: var(--spacing);

      .link-wrapper {
        .link-container {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

@media (max-height: 740px) {
  /* Typically for screen with zoom factor */
  main.home {
    display: inherit;
    overflow-y: auto;

    img {
      max-width: 25rem;
    }

    h2 {
      margin-bottom: 2%;
      max-width: inherit;
    }
  }

  section.track-links {
    .listen-online {
      margin-bottom: 0;

      a {
        margin: .2rem;
      }
    }
  }
}

@media (max-height: 630px) {
  section.track-links {
    h1 {
      font-size: 1.9rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    h2, p {
      margin-bottom: .2rem;
    }

    .listen-online {
      a {
        padding: .5rem 1rem;

        img {
          margin-right: .5rem;
        }

        p {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media (max-height: 512px) {
  main.home img {
    margin: 2% 0;
    max-width: 25rem;
  }
}
